/* width */

.table {
  margin-top: 20px;
  overflow-y: scroll;
  height: 400px;
  color: rgb(80, 80, 80);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

table {
  width: 100%;
}

.table tr {
  display: flex;
  justify-content: space-between;
  color: rgb(240, 240, 240);
}

.table tr:nth-of-type(odd) {
  background-color: rgb(42, 42, 44);
  color: rgb(240, 240, 240);
}

.table td {
  padding: 0.5rem;
}
